body {
    font-family: sans-serif;
}

#todoH1 {
    text-align: center;
}

#newTodoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 35%;
    height: auto;
    box-shadow: 3px 3px 10px #0d6efd;
    border-radius: 10px;
    padding: 20px;
}

#newTodoContainer .label {
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold;
}

#newTodoContainer .input,
#newTodoContainer select {
    margin-bottom: 10px; /* Space between form elements */
    width: 100%; /* Full width for input elements */
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    padding: 5px;
    text-align: center;
}

:focus {
    outline: none;
    box-shadow: 0 0 0 2px hsla(216, 98%, 52%, 70%);
    transition: box-shadow 0.2s ease;
}

#buttonContainer {
    display: flex;
    justify-content: center
}

.button {
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: hsl(216, 98%, 52%);
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color: hsl(216, 98%, 65%);
    cursor: pointer;
}

#activeTodoContainer {
    display: flex;
    box-shadow: 3px 3px 10px #0d6efd;
    border-radius: 10px;
    margin-top: 20px;
}

.todoCard {
    box-shadow: 3px 3px 10px #0d6efd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.deleteButton {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: right;
    align-content: center;
    padding: 3px;
    border: none;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: hsl(0, 100%, 50%);
    color: white;
}

.deleteButton:hover {
    background-color: hsl(0, 100%, 65%);
    cursor: pointer;
}

.completeButton {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: right;
    align-content: center;
    padding: 3px;
    border: none;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: hsl(216, 98%, 52%);
    color: white;
}

.completeButton:hover {
    background-color: hsl(216, 98%, 65%);
    cursor: pointer;
}

input:invalid {
    border: 1px dashed red;
  }